<!DOCTYPE html>
	<html>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		</head>
		<body>

			<!-- Navigation -->
			<nav class="w3-container w3-center w3-black">
			  <a href="#home" class="w3-button w3-bar-item w3-black">Home</a>
			  <a href="#Publications" class="w3-button w3-bar-item w3-black">Publications</a>
			  <a href="#Projects" class="w3-button w3-bar-item w3-black">Projects</a>
			</nav>

			<div class="container">
			<section class="w3-container w3-center w3-content" style="max-width:600px">
			{{ content }}
			</div><!-- /.container -->


			<!-- Footer -->
			<footer class="w3-container w3-padding-1 w3-center w3-black w3-xlarge">
  			<a href="mailto:mawad@ucdavis.edu"><i class="fa fa-envelope"></i></a>
  			<a href="https://github.com/maawad"><i class="fa fa-github"></i></a>
  			<a href="http://www.linkedin.com/in/muhammad-awad-b1a28046"><i class="fa fa-linkedin"></i></a>
			</footer>
		</body>
	</html>